APP_NAME=Flight Ticketing System
MYSQL_ROOT_PASSWORD=rootpass123
MYSQL_DATABASE=FlightTicketingDB
MYSQL_USER=flight_user
MYSQL_PASSWORD=flight_pass_123
JWT_SECRET=please-change-this-secret-to-a-long-random-string
JWT_EXPIRE_MINUTES=120
DOCKER_BUILD_HTTP_PROXY=http://host.docker.internal:7897
DOCKER_BUILD_HTTPS_PROXY=http://host.docker.internal:7897
DOCKER_BUILD_NO_PROXY=localhost,127.0.0.1,::1,mysql,backend,frontend,host.docker.internal
DOCKER_RUNTIME_HTTP_PROXY=http://host.docker.internal:7897
DOCKER_RUNTIME_HTTPS_PROXY=http://host.docker.internal:7897
DOCKER_RUNTIME_NO_PROXY=localhost,127.0.0.1,::1,mysql,backend,frontend,host.docker.internal
